body{
    background-color: lightgoldenrodyellow;
    margin-top: 5em;
}
header{
    background-color: #f5c8b5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
footer{
    background-color: #f5c8b5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.link{
    font-size: x-large;
}
