body{
    background-color: lightgoldenrodyellow;
    margin-top: 5em;
    margin-right: 0;
    max-height: 100%;
}
header{
    background-color: #f5c8b5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Ewert', cursive;
    font-size: x-large;
    border-bottom: solid grey 1px;
    text-align: center;
}
h1{
    padding: 0;
    margin: 0;
}
footer{
    background-color: #f5c8b5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Stylish', sans-serif;
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-top: 2em;
}
.link{
    font-size: x-large;
    font-family: 'Stylish', sans-serif;
    text-decoration: none;
}
.cowWrapper{
    display: grid;
    justify-items: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.cow{
    max-height: 40vh;
}
.form{
    margin-top: 6em;
    display: flex;
    justify-content: center;
    font-family: 'Stylish', sans-serif;
    font-size: large;
}
.formWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
}
.submitButton{
    justify-self: center;
    border-radius: 16px;
    padding: 5px;
    min-width: 8rem;
    font-family: 'Stylish', sans-serif;
}
.submitButton:hover{
    cursor: pointer;
    background-color: #2d3748;
    color: white;
}
.buttonWrapper{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 2rem;
}
#homeLink{
    justify-self: center;
    margin-top: 3rem;
}



